

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}
head {

}

body, html {
background-color: #E7E7E7;
height: 100%;
}

nav {
border-top: solid 1px darkgray;
max-width: 50%;
margin: auto;
padding: 1rem;


}

ul {
  text-align: center;
  word-spacing: 1rem;

}

ul li {
font-family: Helvetica,Arial,sans-serif;
  display: inline-block;
  flex-direction: row;
  margin: 0;
}

ul li a {
  text-decoration: none;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 20px;
}

h1 {
  font-family: 'Roboto',Arial,sans-serif;
  font-size: 20px;

}

a {
  font-family: 'Roboto', sans-serif;
}




.Profile {
  text-align: center;
  margin-bottom: 1rem;
}

.profileimages {
    background: url("Icons/deep.jpg");
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*margin-left: 15%;*/
    margin-bottom: 5%;
}
.smallerbackground {
  z-index: -100;
  height: 40rem;
  padding: 0;
  width: 100%;
  max-width: 100%;
  position: absolute;
}

.profileimages2{
    position:absolute;
    max-width:45%;
    max-height:45%;
    top:50%;
    left:50%;
    overflow:visible;
}

.Profile-imageBIG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  z-index: 22;
  border-radius: 50%;
  height: 15rem;
  border: solid 5px white;
}

.Biografi {
  text-decoration: none;
}




.webgrid { /* CSS FOR ENTIRE BOTTOM PART */
display: flex;
justify-content: center;
background: lightgray;
padding: 1rem;
}


.Row1 { /* ROW TO THE LEFT */
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem;
}
.Introduction {
background: white;
border-radius: 1rem;
padding: 1rem;
margin-bottom: 2rem;
box-shadow:0 0 1px 2px darkgray;
}

.Photos {
background: white;
box-shadow:0 0 1px 2px darkgray;
border-radius: 1rem;
padding: 1rem;
}

.MyPhotos {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  margin: 0;
}
.fotografi {
  background:white;
  padding: 10px;
  height: 10rem;
  width: 10rem;
}
.fotografiTL {
  background:white;
  padding: 10px;
  height: 10rem;
  width: 10rem;
  border-radius: 10px 0px 0px 0px;
}
.fotografiTR {
  background:white;
  padding: 10px;
  height: 10rem;
  width: 10rem;
  border-radius: 0px 10px 0px 0px;
}
.fotografiBL {
  background:white;
  padding: 10px;
  height: 10rem;
  width: 10rem;
  border-radius: 0px 0px 0px 10px;
}
.fotografiBR {
  background:white;
  padding: 10px;
  height: 10rem;
  width: 10rem;
  border-radius: 0px 0px 10px 0px;
}

.Row2 { /* ROW TO THE RIGHT */
  padding: 1rem;
  border-radius: 1rem;
  margin:2rem;
}

.Status { /* Vad gör du just nu box */
  background: white;
  box-shadow:0 0 1px 2px darkgray;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  }

.input2 {
  border-radius: 0;
  background: white;
  text-align: left;
  transform:translate(0px,-15px);
  box-shadow:0 0 1px 2px lightgray;


}
  .profilbild2 {
    height: 3rem;
    margin-right: 5px;
    border-radius: 50%;
    transform: translate(0px,5px);
  }


/* ----------------------------------------------*/
.HelaAndrasinlägg { /* the whole box */
  box-shadow:0 0 1px 2px darkgray;
  border-radius: 1rem;
  background:white;
padding: 1px 1rem;
}

.andrasinlägg { /* where it says gz jonte */
  display: flex;
  flex-direction: row;
margin-top: 2rem;
}

.andraspic { /* the little pic next to the text in the big inlägg box */
  height: 2rem;
  margin-right: 5px;
  border-radius: 50%;
}

.distance { /* just a distance between the text and pic */
  margin-top: 1rem;
}

.arton{
  width: 100%;
}

.Reactions { /* like comment and share part */
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: solid  3px lightgray;
  border-bottom: solid  3px lightgray;
  margin-bottom: 1rem;
}
.Like {
  cursor: pointer;
}
.Comment{
  cursor: pointer;
}
.Share {
  cursor: pointer;
}

.writeacomment {
  margin: 1rem;
  text-align: center;
  line-height: 1;
}


.input3 {
  background: white;
  text-align: left;
  transform:translate(-110px,-10px);
  box-shadow:0 0 1px 2px lightgray;
}

.profilbild3 {
  height: 2rem;
  margin-right: 5px;
  border-radius: 50%;
  transform:translate(-110px,0px);
}



/* ----------------------------------------------*/


input {
  background: lightgray;
  text-align: center;
  border: none;
  height: 2rem;
  width: 15rem;
  padding:10px;
  border-radius: 0;
  outline:none;
}


@media all and (min-width: 1200px) {

.Profile-imageBIG {
  margin-bottom: 1rem;
}
  nav {
    max-width: 50%;
  }


}

/* PC   */
@media all and (max-width: 1200px) {

  .Profile {
    margin-top: 4rem;
  }
  
  .Profile-imageBIG {
    margin-bottom: 1rem;
  }

  .webgrid {
    display: block;
    justify-content: center;
    background: lightgray;
    padding: 1rem;
  }
  .Photos {
    display: grid;
    grid-template-columns: auto;
  }
  .fotografiTL {
    width: 10rem;
    height: 10rem;
  }

  .fotografiTR {
    width: 10rem;
    height: 10rem;
  }
  .fotografiBL{
    width: 10rem;
    height: 10rem;
  }
  .fotografiBR {
    width: 10rem;
    height: 10rem;
  }
  .fotografi {
    width: 10rem;
    height: 10rem;
  }
  nav {
  border-top: solid 1px darkgray;
  max-width: 50%;
  padding: 1rem;
  }


}
@media all and (max-width: 800px) {

  .Profile {
    margin-top: 4rem;
  }

  .Profile-imageBIG {
    margin-bottom: 1rem;
  }
  .webgrid {
    display: block;
    justify-content: center;
    background: lightgray;
    padding: 1rem;
  }
  .fotografiTL {
    width: 7rem;
    height: 7rem;
  }

  .fotografiTR {
    width: 7rem;
    height: 7rem;
  }
  .fotografiBL{
    width: 7rem;
    height: 7rem;
  }
  .fotografiBR {
    width: 7rem;
    height: 7rem;
  }
  .fotografi {
    width: 7rem;
    height: 7rem;
  }
  nav {
  border-top: solid 1px darkgray;
  max-width: 70%;
  padding: 1rem;
  }


}


@media all and (max-width: 600px) {

  .Profile {
    margin-top: 4rem;
  }

  .profileimages2 {
    margin-bottom: 32px;
  }

  .webgrid {
    display: block;
    justify-content: center;
    background: lightgray;
    padding: 1rem;
  }


  .fotografiTL {
    width: 5rem;
    height: 5rem;
  }

  .fotografiTR {
    width: 5rem;
    height: 5rem;
  }
  .fotografiBL{
    width: 5rem;
    height: 5rem;
  }
  .fotografiBR {
    width: 5rem;
    height: 5rem;
  }
  .fotografi {
    width: 5rem;
    height: 5rem;
  }

  .profilbild {
    height: 2rem;
    border-radius: 50%;
  }
  nav {
  border-top: solid 1px darkgray;
  max-width: 80%;
  padding: 1rem;
  }

  .input3 {
    background: white;
    text-align: left;
    transform:translate(-20px,-5px);
    box-shadow:0 0 1px 2px lightgray;
  }

  .profilbild3 {
    height: 2rem;
    margin-right: 5px;
    border-radius: 50%;
    transform:translate(-20px,5px);
  }

}
